# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# backup
*.*~
*.*_bak

#.eclipse project
.cproject
.project

#folder
lib/
res/
bin/
Debug/
Release/
